.pinkish {
  color: #c1bbeb;
}
.sidebar a {
  padding-left: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 50px 0 0 50px;
}
.sidebar a.active,
.sidebar a:hover {
  background: #f3f4ff;
}
.sidebar a.active span,
.sidebar a:hover span {
  color: #4d44b5;
}
.sidebar a.active img,
.sidebar a:hover img {
  filter: invert(100%);
}

/* customers */
.text-blue {
  color: #303972;
}

.btn-blue {
  background: #303972;
  color: #fff;
  border-radius: 50px;
  padding: 10px 20px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.bg-blue {
  background: #303972;
}

/* add companies */
input[type="file"] {
  display: none;
}

label.logo-uploader {
  border: 1px dashed black;
  padding: 30px;
}
