.pinkish {
  color: #c1bbeb;
}
body,
html {
  height: 100vh;
  overflow: hidden;
}
.sidebar {
  height: 100vh;
  overflow-y: scroll;
}
.main {
  height: 100vh;
  overflow-y: scroll;
}
*::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.sidebar a {
  padding-left: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 50px 0 0 50px;
}
.sidebar a.active,
.sidebar a:hover {
  background: #f3f4ff;
}
.sidebar a.active span,
.sidebar a:hover span {
  color: #4d44b5;
}
.sidebar a.active img,
.sidebar a:hover img {
  filter: invert(100%);
}
.submenu-item a {
  padding: 3px 10px;
  margin: 10px 0;
}
.submenu-item a.active,
.submenu-item a:hover {
  background: #cdccd7;
}
.submenu-item a.active span,
.submenu-item a:hover span {
  color: #fff;
}

/* customers */
.text-blue {
  color: #303972;
}

.btn-blue {
  background: #303972;
  color: #fff;
  border-radius: 50px;
  padding: 10px 20px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.bg-blue {
  background: #303972;
}

/* add companies */
input[type="file"] {
  display: none;
}

label.logo-uploader {
  border: 1px dashed black;
  padding: 30px;
}

/* dashboard */
.stat-table th {
  text-align: center;
}

/* projects */
button.btn-blue.px-10 {
  padding: 15px 60px !important;
}
.ant-table-wrapper.text-center * {
  text-align: center !important;
}
.ant-table-wrapper.text-center .text-left {
  text-align: left !important;
}
.filterBtn.active {
  font-weight: bold;
}
.filterBtn {
  color: #303972;
}

@media screen and (max-width: 992px) {
  body,
  html {
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .sidebar,
  .main {
    height: auto;
    overflow-y: auto;
  }
  .project-ongoing {
    width: 100%;
    max-width: 94vw;
  }
}
